In this project, we will analyze the 2018-2019 NBA season average statistics from every player. We will look at these stats to draw conclusions about each players' characteristics and performance this season.

In [0]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup
import time

We're getting a list of the active players in the 2018-2019 NBA season:

In [0]:
players = []

resp = (requests.get
    ("https://www.nbastuffer.com/2018-2019-nba-player-stats/"))
soup = BeautifulSoup(resp.content, "html.parser")
tables = soup.find_all("table")
table = tables[0]
table.text
names = table.find_all("td", "column-2")

In [0]:
for name in names:
  players.append(name.text)
players

['Marc Gasol',
 'Danny Green',
 'Serge Ibaka',
 'Kawhi Leonard',
 'Kyle Lowry',
 'Pascal Siakam',
 'Fred VanVleet',
 'Norman Powell',
 'Stephen Curry',
 'Draymond Green',
 'Shaun Livingston',
 'Kevon Looney',
 'Alfonzo McKinnie',
 'Klay Thompson',
 'Al-Farouq Aminu',
 'Zach Collins',
 'Seth Curry',
 'Maurice Harkless',
 'Rodney Hood',
 'Enes Kanter',
 'Damian Lillard',
 'CJ McCollum',
 'Evan Turner',
 'Andre Iguodala',
 'Giannis Antetokounmpo',
 'Eric Bledsoe',
 'Pat Connaughton',
 'George Hill',
 'Ersan Ilyasova',
 'Brook Lopez',
 'Khris Middleton',
 'Will Barton',
 'Malik Beasley',
 'Torrey Craig',
 'Gary Harris',
 'Nikola Jokic',
 'Paul Millsap',
 'Monte Morris',
 'Jamal Murray',
 'Mason Plumlee',
 'Andrew Bogut',
 'Nikola Mirotic',
 'Jodie Meeks',
 'Jonas Jerebko',
 'Jimmy Butler',
 'Tobias Harris',
 'JJ Redick',
 'Ben Simmons',
 'Jordan Bell',
 'Quinn Cook',
 'Kevin Durant',
 'Clint Capela',
 'Eric Gordon',
 'Gerald Green',
 'James Harden',
 'Chris Paul',
 'PJ Tucker',
 'Joel Embiid',
 'James Ennis III',
 'Tim Frazier',
 'Meyers Leonard',
 'Sterling Brown',
 'Jonah Bolden',
 'Boban Marjanovic',
 'Greg Monroe',
 'Austin Rivers',
 'Mike Scott',
 'T.J. McConnell',
 'Aron Baynes',
 'Jaylen Brown',
 'Gordon Hayward',
 'Al Horford',
 'Kyrie Irving',
 'Marcus Morris',
 'Terry Rozier',
 'Jayson Tatum',
 'Malcolm Miller',
 'Tony Snell',
 'Iman Shumpert',
 'D.J. Wilson',
 'Eric Moreland',
 'Patrick McCaw',
 'LaMarcus Aldridge',
 'Marco Belinelli',
 'DeMar DeRozan',
 'Bryn Forbes',
 'Rudy Gay',
 'Patty Mills',
 'Jakob Poeltl',
 'Derrick White',
 'Danuel House Jr.',
 'Daniel Theis',
 'Jonathon Simmons',
 'Nene',
 'Jeremy Lin',
 'Malcolm Brogdon',
 'Patrick Beverley',
 'Danilo Gallinari',
 'Shai Gilgeous-Alexander',
 'JaMychal Green',
 'Montrezl Harrell',
 'Landry Shamet',
 'Garrett Temple',
 'Lou Williams',
 'Lonnie Walker IV',
 'Kenneth Faried',
 'Semi Ojeleye',
 'Jake Layman',
 'Jarrett Allen',
 'DeMarre Carroll',
 'Spencer Dinwiddie',
 'Treveon Graham',
 'Joe Harris',
 'Caris LeVert',
 "D'Angelo Russell",
 'Davis Bertans',
 'D.J. Augustin',
 'Khem Birch',
 'Michael Carter-Williams',
 'Evan Fournier',
 'Aaron Gordon',
 'Jonathan Isaac',
 'Wes Iwundu',
 'Terrence Ross',
 'Nikola Vucevic',
 'Steven Adams',
 'Raymond Felton',
 'Terrance Ferguson',
 'Paul George',
 'Jerami Grant',
 'Markieff Morris',
 'Nerlens Noel',
 'Dennis Schroder',
 'Russell Westbrook',
 'Jae Crowder',
 'Derrick Favors',
 'Rudy Gobert',
 'Joe Ingles',
 'Donovan Mitchell',
 'Georges Niang',
 "Royce O'Neale",
 'Ricky Rubio',
 'Jerome Robinson',
 'Dante Cunningham',
 'Donatas Motiejunas',
 'Quincy Pondexter',
 'Juancho Hernangomez',
 'Anfernee Simons',
 'Jacob Evans',
 'Wilson Chandler',
 'Bojan Bogdanovic',
 'Darren Collison',
 'Tyreke Evans',
 'Cory Joseph',
 'Wesley Matthews',
 'Domantas Sabonis',
 'Myles Turner',
 'Thaddeus Young',
 'Bruce Brown',
 'Andre Drummond',
 'Wayne Ellington',
 'Langston Galloway',
 'Reggie Jackson',
 'Luke Kennard',
 'Kyle Korver',
 'Thon Maker',
 'Ish Smith',
 'Rodions Kurucs',
 'Sindarius Thornwell',
 'Ivica Zubac',
 'Jared Dudley',
 'Rondae Hollis-Jefferson',
 'Thabo Sefolosha',
 'Furkan Korkmaz',
 'Brad Wanamaker',
 'Guerschon Yabusele',
 'Amir Johnson',
 'Ed Davis',
 'Doug McDermott',
 'Aaron Holiday',
 'Raul Neto',
 'Deonte Burton',
 'Abdel Nader',
 'Jose Calderon',
 'Glenn Robinson III',
 'Khyri Thomas',
 'Shabazz Napier',
 'Theo Pinson',
 'Melvin Frazier Jr.',
 'Jerian Grant',
 'Jarell Martin',
 'Jarred Vanderbilt',
 'Robert Williams III',
 'Trey Lyles',
 'Skal Labissiere',
 'Damian Jones',
 'DeMarcus Cousins',
 'Grayson Allen',
 'Ekpe Udoh',
 'Tyrone Wallace',
 'Zaza Pachulia',
 'Gary Clark',
 'Isaiah Hartenstein',
 'Blake Griffin',
 'Dzanan Musa',
 'Zhaire Smith',
 'Marcus Smart',
 'Chris Boucher',
 'TJ Leaf',
 'Jon Leuer',
 "Kyle O'Quinn",
 'Edmond Sumner']

Now, we make calls to the api for each one of the players, by first finding their player id.

In [0]:
df_players = pd.DataFrame()

for player in players:
  # had to consider the case where only a single name exists- like Nene
  if " " not in player:
    resp_player = requests.get("https://www.balldontlie.io/api/v1/players?per_page=500&search=%s" % player)
    data_player = resp_player.json()
    df_players.loc[player, "ID"] = data["id"]
    time.sleep(1.0)
    continue

  name = player.split(" ")
  # Note that some players will have a name array with more than 2 entries
  # However, the balldontlie api works even if we only pass in part of their
  # last name to search
  first_name = name[0]
  last_name = name[1]
  resp_player = requests.get("https://www.balldontlie.io/api/v1/players?per_page=500&search=%s" % last_name)
  data_player = resp_player.json()
  # you can only search by one name (we chose last name), so you also have to
  # iterate through to find the player with the appropriate first name 
  for data in data_player["data"]:
    if data["first_name"] == first_name:
      player_id = data["id"]
      break

  df_players.loc[player, "ID"] = player_id
  time.sleep(1.0)

df_players

                  ID
Marc Gasol     169.0
Danny Green    184.0
Serge Ibaka    223.0
Kawhi Leonard  274.0
Kyle Lowry     286.0
...              ...
Chris Boucher   58.0
TJ Leaf        270.0
Jon Leuer      276.0
Kyle O'Quinn   352.0
Edmond Sumner  432.0

[212 rows x 1 columns]

Now that we have player IDs, we can use each ID to make a request to the balldontlie API, for season average statistics of each player.

In [0]:
# url for season averages request
url_avgs = "https://www.balldontlie.io/api/v1/season_averages?season=2018&"

# format ids into string for get request
pids = []

for pid in df_players["ID"]:
  pids.append("player_ids[]=")
  pids.append(str(int(pid)))
  pids.append("&")
pids.pop()

params_avgs = "".join(pids)
params_avgs

'player_ids[]=169&player_ids[]=184&player_ids[]=223&player_ids[]=274&player_ids[]=286&player_ids[]=416&player_ids[]=458&player_ids[]=380&player_ids[]=115&player_ids[]=185&player_ids[]=280&player_ids[]=282&player_ids[]=308&player_ids[]=443&player_ids[]=10&player_ids[]=102&player_ids[]=114&player_ids[]=193&player_ids[]=218&player_ids[]=253&player_ids[]=278&player_ids[]=303&player_ids[]=451&player_ids[]=224&player_ids[]=15&player_ids[]=51&player_ids[]=105&player_ids[]=211&player_ids[]=225&player_ids[]=283&player_ids[]=315&player_ids[]=31&player_ids[]=38&player_ids[]=110&player_ids[]=196&player_ids[]=246&player_ids[]=318&player_ids[]=330&player_ids[]=335&player_ids[]=371&player_ids[]=1593&player_ids[]=321&player_ids[]=311&player_ids[]=239&player_ids[]=79&player_ids[]=200&player_ids[]=389&player_ids[]=417&player_ids[]=41&player_ids[]=106&player_ids[]=140&player_ids[]=83&player_ids[]=178&player_ids[]=186&player_ids[]=192&player_ids[]=367&player_ids[]=450&player_ids[]=145&player_ids[]=146&player_ids[]=163&player_ids[]=275&player_ids[]=72&player_ids[]=55&player_ids[]=296&player_ids[]=325&player_ids[]=393&player_ids[]=410&player_ids[]=304&player_ids[]=35&player_ids[]=70&player_ids[]=204&player_ids[]=219&player_ids[]=228&player_ids[]=328&player_ids[]=403&player_ids[]=434&player_ids[]=2215&player_ids[]=426&player_ids[]=415&player_ids[]=484&player_ids[]=2106&player_ids[]=2158&player_ids[]=6&player_ids[]=40&player_ids[]=125&player_ids[]=159&player_ids[]=171&player_ids[]=319&player_ids[]=373&player_ids[]=473&player_ids[]=2175&player_ids[]=439&player_ids[]=418&player_ids[]=418&player_ids[]=279&player_ids[]=65&player_ids[]=45&player_ids[]=167&player_ids[]=175&player_ids[]=187&player_ids[]=194&player_ids[]=414&player_ids[]=436&player_ids[]=481&player_ids[]=464&player_ids[]=152&player_ids[]=353&player_ids[]=269&player_ids[]=9&player_ids[]=84&player_ids[]=130&player_ids[]=181&player_ids[]=197&player_ids[]=277&player_ids[]=405&player_ids[]=44&player_ids[]=21&player_ids[]=46&player_ids[]=86&player_ids[]=160&player_ids[]=177&player_ids[]=229&player_ids[]=230&player_ids[]=402&player_ids[]=460&player_ids[]=3&player_ids[]=155&player_ids[]=156&player_ids[]=172&player_ids[]=182&player_ids[]=329&player_ids[]=345&player_ids[]=409&player_ids[]=472&player_ids[]=112&player_ids[]=153&player_ids[]=176&player_ids[]=226&player_ids[]=322&player_ids[]=344&player_ids[]=351&player_ids[]=404&player_ids[]=398&player_ids[]=113&player_ids[]=1988&player_ids[]=374&player_ids[]=206&player_ids[]=419&player_ids[]=148&player_ids[]=95&player_ids[]=54&player_ids[]=103&player_ids[]=150&player_ids[]=251&player_ids[]=301&player_ids[]=406&player_ids[]=452&player_ids[]=489&player_ids[]=69&player_ids[]=137&player_ids[]=144&player_ids[]=168&player_ids[]=236&player_ids[]=254&player_ids[]=262&player_ids[]=295&player_ids[]=422&player_ids[]=264&player_ids[]=445&player_ids[]=493&player_ids[]=138&player_ids[]=216&player_ids[]=411&player_ids[]=260&player_ids[]=468&player_ids[]=488&player_ids[]=241&player_ids[]=118&player_ids[]=305&player_ids[]=213&player_ids[]=343&player_ids[]=78&player_ids[]=339&player_ids[]=80&player_ids[]=907&player_ids[]=441&player_ids[]=341&player_ids[]=370&player_ids[]=162&player_ids[]=183&player_ids[]=298&player_ids[]=457&player_ids[]=476&player_ids[]=290&player_ids[]=266&player_ids[]=248&player_ids[]=107&player_ids[]=8&player_ids[]=453&player_ids[]=466&player_ids[]=361&player_ids[]=98&player_ids[]=201&player_ids[]=189&player_ids[]=336&player_ids[]=425&player_ids[]=420&player_ids[]=58&player_ids[]=270&player_ids[]=276&player_ids[]=352&player_ids[]=432'

In [0]:
# Can now make single call for season averages of each player

resp_avgs = requests.get(url_avgs + params_avgs)
data_avgs = resp_avgs.json()

In [0]:
df_avgs = json_normalize(data_avgs.get("data"))
df_avgs

     games_played  player_id  season    min  ...    pts  fg_pct  fg3_pct  ft_pct
0              80          3    2018  33:19  ...  13.85   0.596    0.000   0.500
1              81          6    2018  33:10  ...  21.32   0.519    0.238   0.847
2              48          8    2018   8:40  ...   4.40   0.376    0.323   0.750
3              80          9    2018  26:12  ...  10.91   0.590    0.133   0.709
4              82         10    2018  27:56  ...   9.27   0.433    0.343   0.867
..            ...        ...     ...    ...  ...    ...     ...      ...     ...
205             3       1988    2018   4:15  ...   2.00   0.500    0.000   0.000
206             7       2106    2018   6:10  ...   1.00   0.429    1.000   0.000
207            30       2158    2018  13:14  ...   2.47   0.413    0.321   0.867
208            40       2175    2018  24:28  ...   9.15   0.468    0.416   0.789
209            22       2215    2018   3:03  ...   1.59   0.423    0.476   0.750

[210 rows x 22 columns]

We now have a data frame of each player's season averages for last season. For clarity, we will add each player's name as well, taken from the df_players data frame.

In [0]:
# set index to player id
df_players["name"] = df_players.index
df_players = df_players.set_index("ID")
df_players["IDno"] = df_players.index.astype(int)
df_players = df_players.set_index("IDno")

In [0]:
# make a function to map player ids to names
def pid_to_name(pid):
  return df_players["name"][pid]

# call function to create player_name column
df_avgs["player_name"] = df_avgs["player_id"].map(pid_to_name)
df_avgs

     games_played  player_id  season  ... fg3_pct  ft_pct         player_name
0              80          3    2018  ...   0.000   0.500        Steven Adams
1              81          6    2018  ...   0.238   0.847   LaMarcus Aldridge
2              48          8    2018  ...   0.323   0.750       Grayson Allen
3              80          9    2018  ...   0.133   0.709       Jarrett Allen
4              82         10    2018  ...   0.343   0.867     Al-Farouq Aminu
..            ...        ...     ...  ...     ...     ...                 ...
205             3       1988    2018  ...   0.000   0.000  Donatas Motiejunas
206             7       2106    2018  ...   1.000   0.000       Eric Moreland
207            30       2158    2018  ...   0.321   0.867       Patrick McCaw
208            40       2175    2018  ...   0.416   0.789    Danuel House Jr.
209            22       2215    2018  ...   0.476   0.750      Malcolm Miller

[210 rows x 23 columns]

In [0]:
resp_ex = requests.get("https://www.balldontlie.io/api/v1/players/2158")
data_ex = resp_ex.json()
data_ex

{'first_name': 'Patrick',
 'height_feet': 6,
 'height_inches': 7,
 'id': 2158,
 'last_name': 'McCaw',
 'position': '',
 'team': {'abbreviation': 'TOR',
  'city': 'Toronto',
  'conference': 'East',
  'division': 'Atlantic',
  'full_name': 'Toronto Raptors',
  'id': 28,
  'name': 'Raptors'},
 'weight_pounds': 185}

In [0]:
# fill info array with json data for each player. stagger requests.
info = []
for pid in df_avgs["player_id"]:
  resp_info = requests.get("https://www.balldontlie.io/api/v1/players/" + str(pid))
  data_info = resp_info.json()
  info.append(data_info)
  time.sleep(1.0)

In [0]:
# create arrays for each pid
heights_feet = []
heights_inches = []
playerids = []
weights = []
positions = []

# fill arrays with data from request json
for entry in info:
  pid = entry.get("id")
  height_feet = entry.get("height_feet")
  height_inches = entry.get("height_inches")
  weight_pounds = entry.get("weight_pounds")
  position = entry.get("position")
  heights_feet.append(height_feet)
  heights_inches.append(height_inches)
  playerids.append(pid)
  weights.append(weight_pounds)
  positions.append(position)

# create new column
df_avgs["player_height_ft"] = heights_feet
df_avgs["player_height_in"] = heights_inches
df_avgs["player_weight"] = weights
df_avgs["player_position"] = positions

In [0]:
#df_avgs["player_position"].fillna("n/a")
df_avgs

     games_played  player_id  ...  player_weight player_position
0              80          3  ...          265.0               C
1              81          6  ...          260.0               F
2              48          8  ...          198.0               G
3              80          9  ...          237.0               C
4              82         10  ...          220.0               F
..            ...        ...  ...            ...             ...
205             3       1988  ...            NaN
206             7       2106  ...            NaN
207            30       2158  ...          185.0
208            40       2175  ...          220.0
209            22       2215  ...            NaN

[210 rows x 27 columns]

In [0]:
# create new column "height (cm)" for easier calculation
df_avgs["height (cm)"] = (df_avgs["player_height_ft"] * 12 + df_avgs["player_height_in"]) * 2.54

In [0]:
# create new column "minutes/gm" as a float for easier calculation
def min_float(m):
  sep = ":"
  m = m.split(sep)
  mins = float(m[0])
  secs = float(m[1])
  return mins + secs / 60
df_avgs["minutes/gm"] = df_avgs["min"].map(min_float)
df_avgs

     games_played  player_id  season  ... player_position  height (cm)  minutes/gm
0              80          3    2018  ...               C       213.36   33.316667
1              81          6    2018  ...               F       210.82   33.166667
2              48          8    2018  ...               G       195.58    8.666667
3              80          9    2018  ...               C       210.82   26.200000
4              82         10    2018  ...               F       205.74   27.933333
..            ...        ...     ...  ...             ...          ...         ...
205             3       1988    2018  ...                          NaN    4.250000
206             7       2106    2018  ...                          NaN    6.166667
207            30       2158    2018  ...                       200.66   13.233333
208            40       2175    2018  ...                       200.66   24.466667
209            22       2215    2018  ...                          NaN    3.050000

[210 rows x 29 columns]

Each player's name is now included in their season average stats. Note that not all players will have height_feet, height_inches, or weight_pounds (see "Considerations" under "Get a Specific Player" in the balldontlie documentation).

We are now ready to save it as a .csv file and explore the data in the next part.

In [0]:
# data collected and cleaned; save to drive as csv
#from google.colab import drive
#drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [0]:
#df_avgs.to_csv("nbaseasonavgs.csv")
#!cp nbaseasonavgs.csv "drive/My Drive/"